@{
    ViewBag.Title = "About MX Consulting";
    Layout = "_Layout";
}

<section class="pt-8 pt-md-11">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">

                <h1 class="display-4 text-center">
                    About Molyneux Consulting Ltd
                </h1>

                <p class="lead mb-7 text-center text-muted">
                    Molyneux Consulting Ltd is a <a target="_blank" href="https://www.crunch.co.uk/knowledge/tax/what-is-a-personal-service-company/">personal services company</a> providing software engineering and consultancy services based in the South West UK.
                </p>

                <h2 class="text-center">Who is in Molyneux Consulting Ltd?</h2>

                <p class="lead mb-7 text-center text-muted">
                    <strong>Fraser Molyneux</strong> formed the company in 2019 and is the sole director. See the profile page for details.
                </p>

                <h2 class="text-center">What services does Molyneux Consulting Ltd provide?</h2>

                <p class="lead mb-7 text-center text-muted">
                    Molyneux Consulting Ltd can provide software engineering services either on a ad-hoc basis or as an embedded developer on-site/remote. 
                </p>

                <p class="lead mb-7 text-center text-muted">
                    Additionally consultancy services to create/improve/transform development practices and ways of working within your organisation can be provided.
                </p>

            </div>
        </div>
    </div>
</section>
