@{
    ViewBag.Title = "Qualifications";
    Layout = "_Layout";
}

<section class="pt-8 pt-md-11">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12">

                <h1 class="display-4 text-center">
                    Qualifications
                </h1>

                <p class="lead mb-7 text-center text-muted">
                    I value hands-on and practical experience as that is how I learn best. However it is always good to check that experience
                    against industry best practice. As such I value professional qualifications to provide confidence to myself and organsations
                    that I work with that I am working to the best industry standards possible.
                </p>

                <hr/>

                <h2 class="text-center">
                    Microsoft Qualifications
                </h2>

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="4d55eb60-6e60-4d45-90f8-d1e89fa45926" data-share-badge-host="https://www.youracclaim.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="075703f4-10bc-47ed-9b7e-917fc24562df" data-share-badge-host="https://www.youracclaim.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="bd3650f3-28a8-47a4-9cac-458746b2626f" data-share-badge-host="https://www.youracclaim.com"></div>
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="12aadf3e-b74d-4e8f-8837-5e442634e832" data-share-badge-host="https://www.youracclaim.com"></div>

                <hr/>

                <h2 class="text-center">
                    Professional Qualifications
                </h2>

                <ul class="text-muted" style="list-style: none">
                    <li><img src="~/img/icons/ec-council.png" height="100"/> Certified Ethical Hacker (issued May 2018)</li>
                    <li><img src="~/img/icons/xamarin.png" height="100"/> Xamarin Certified Mobile Developer (issued May 2016)</li>
                    <li><img src="~/img/icons/scrum.png" height="100"/> Professional Scrum Developer (issued June 2016)</li>
                    <li><img src="~/img/icons/peoplecert.png" height="100"/> ITIL Foundation Certificate in IT Service Management (issued May 2016)</li>
                </ul>

                <h2 class="text-center">
                    Academic Qualifications
                </h2>

                <ul class="text-muted" style="list-style: none">
                    <li><img src="~/img/icons/unisouthwales.png" height="100"/> University of South Wales – Bachelor’s Degree – Computer Science – First Class Honours</li>
                    <li><img src="~/img/icons/unisouthwales.png" height="100"/> University of South Wales – BTEC HND – Computing – Distinction</li>
                </ul>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
}