@{
    ViewBag.Title = "Qualifications";
    Layout = "_Layout";
}

<section class="pt-8 pt-md-11">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12">

                <h1 class="display-4 text-center">
                    Qualifications
                </h1>

                <p class="lead mb-7 text-center text-muted">
                    I value hands-on and practical experience as that is how I learn best. However it is always good to
                    check that experience
                    against industry best practice. As such I value professional qualifications to provide confidence to
                    myself and organsations
                    that I work with that I am working to the best industry standards possible.
                </p>

                <hr />

                <h2 class="text-center">
                    Microsoft Qualifications
                </h2>

                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="920ea008-9cce-4b24-970e-e84fe103aadf"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="30b56f59-5a4a-41a1-8dd7-83f09cec0bd2"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="5880190b-c08f-454b-80dc-d289e7a7f595"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="f59ea864-07fe-42a4-a387-06be5c55284e"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="413c84bc-d7cb-4708-8d5d-d1328ec055a7"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="fb6cdae7-a60d-424d-9c29-85e63c567093"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="3d88e910-8d05-4547-8e12-12cbb9391e82"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="b0254dfe-23b2-46d4-aeb3-227d7ac87b76"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="6840bf96-9cd2-4746-be4c-c39a3287c018"
                    data-share-badge-host="https://www.credly.com"></div>
                <div data-iframe-width="150" data-iframe-height="270"
                    data-share-badge-id="0bb3a450-5818-446f-8d81-174d17d68744"
                    data-share-badge-host="https://www.credly.com"></div>

                <hr />

                <h2 class="text-center">
                    Professional Qualifications
                </h2>

                <ul class="text-muted" style="list-style: none">
                    <li><img alt="ethical council" src="~/img/icons/ec-council.png" height="100" /> Certified Ethical
                        Hacker (issued May 2018)
                    </li>
                    <li><img alt="xamarin" src="~/img/icons/xamarin.png" height="100" /> Xamarin Certified Mobile
                        Developer (issued
                        May 2016)</li>
                    <li><img alt="scrum" src="~/img/icons/scrum.png" height="100" /> Professional Scrum Developer
                        (issued June 2016)
                    </li>
                    <li><img alt="people cert" src="~/img/icons/peoplecert.png" height="100" /> ITIL Foundation
                        Certificate in IT Service
                        Management (issued May 2016)</li>
                </ul>

                <h2 class="text-center">
                    Academic Qualifications
                </h2>

                <ul class="text-muted" style="list-style: none">
                    <li><img alt="university of south wales" src="~/img/icons/unisouthwales.png" height="100" />
                        University of South Wales – Bachelor’s
                        Degree – Computer Science – First Class Honours</li>
                    <li><img alt="university of south wales" src="~/img/icons/unisouthwales.png" height="100" />
                        University of South Wales – BTEC HND –
                        Computing – Distinction</li>
                </ul>

            </div>
        </div>
    </div>
</section>

@section Scripts {
<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
}