@{
    ViewBag.Title = "Profile";
    Layout = "_Layout";
}

<section class="pt-8 pt-md-11">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12">

                <h1 class="display-4 text-center">
                    Fraser Molyneux
                </h1>

                <p class="lead mb-7 text-center text-muted">
                    <strong>Fraser Molyneux</strong> is the director of Molyneux Consulting Ltd and is an experienced
                    lead software engineer who has worked in both Government and the private sector.
                </p>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">

                <h2 class="text-center">Introduction</h2>

                <p class="lead mb-7 text-center text-muted">
                    I am a Lead Software Engineer with experience of supporting business critical services. Skilled in development and implementation of deployment pipelines using PowerShell, DSC and Azure DevOps. Security conscious and a certified ethical hacker. C#.NET, Web API, ASP.NET, Azure software engineer.
                </p>

                <p class="lead mb-7 text-center text-muted">
                    <a target="_blank" href="~/docs/CV-2020.pdf">View PDF CV</a>
                </p>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">

                <h2 class="text-center">Core Tools/Technologies</h2>

                <p class="lead mb-7 text-center text-muted">
                    <ul class="text-muted">
                        <li>C#.NET</li>
                        <li>Powershell/DSC</li>
                        <li>ASP.NET/MVC</li>
                        <li>Web API</li>
                        <li>Git/GitHub/Azure DevOps</li>
                        <li>SQL Server</li>
                        <li>AWS/Azure</li>
                    </ul>
                </p>

                <p class="lead mb-7 text-center text-muted">
                    I use CI/CD processes in an Agile (Scrum) team and enjoy working in a team that values delivering at pace and quality of service
                </p>

            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12">

                <h2 class="display-4 text-center">
                    Experience
                </h2>
                
                <div class="text-muted">
                    <div class="position-relative">

                        <article class="position-relative pb-5">
                            <div class="mb-2">
                                <div class="d-flex flex-column flex-md-row">
                                    <h3 class="font-weight-bold mb-1">Software Engineer Consultant</h3>
                                    <div class="ml-auto">MX Consulting</div>
                                </div>
                                <div class="">Nov 2019 - Present</div>
                            </div>
                            <div>
                                <p>
                                    I am currently consulting at Leonardo Helicopters helping them with their software development lifecycle.
                                    I have been contracted to help build a development capability that will be able to support the Support Solutions
                                    department future plans.
                                </p>
                                <p>
                                    I am also working with their development team to introduce continuous integration practices with a view to continuous 
                                    delivery. Alongside this my expertise in deployment pipelines is being used to enable these practices to be implemented.
                                </p>
                                <ul>
                                    <li>Ways of working - Introduction of Agile</li>
                                    <li>Continuous Integration / Delivery</li>
                                    <li>Team City and how it is used</li>
                                </ul>
                                <h4 class="font-weight-bold">Technologies used:</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Team City</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PowerShell</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Agile (Scrum)</span></li>
                                </ul>
                            </div>
                        </article>

                        <article class="position-relative pb-5">
                            <div class="mb-2">
                                <div class="d-flex flex-column flex-md-row">
                                    <h3 class="font-weight-bold mb-1">Lead Software Engineer</h3>
                                    <div class="ml-auto">UK Hydrographic Office</div>
                                </div>
                                <div class="">July 2018 - Nov 2019</div>
                            </div>
                            <div>
                                <p>
                                    In this role I lead a team of developers/testers to support the UKHO’s customer
                                    facing services and to deliver project work. This role involved:
                                </p>
                                <ul>
                                    <li>Incident management including effective decision making to resolve major incidents</li>
                                    <li>Third line support for customer issues, troubleshooting applications and infrastructure</li>
                                    <li>Creation and maintenance of Azure DevOps build and release pipelines largely using PowerShell/DSC/Azure</li>
                                    <li>Resolution of security incidents</li>
                                    <li>C#/ASP.NET Development</li>
                                </ul>
                                <h4 class="font-weight-bold">Achievements:</h4>
                                <p>Some of my notable achievements in this role have been:</p>
                                <ul>
                                    <li>
                                        Introduction of PowerShell infrastructure automated tests that monitor active directory,
                                        file share permissions, SQL databases/permissions. These Pester tests have provided confidence
                                        and assurance of our service infrastructure and security
                                    </li>
                                    <li>
                                        Creation of a route-to-live pipeline for the ‘eNavigator Fleet Manager’ product that enables
                                        easy no-downtime releases speeding up the delivery of project work and allowing a true move
                                        towards continuous delivery
                                    </li>
                                </ul>
                                <h4 class="font-weight-bold">Technologies used:</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">C#.NET</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">ASP.NET MVC</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PowerShell</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Azure DevOps</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Azure</span></li>
                                </ul>
                            </div>
                        </article>

                        <article class="position-relative pb-5">
                            <div class="mb-2">
                                <div class="d-flex flex-column flex-md-row">
                                    <h3 class="font-weight-bold mb-1">Senior Software Engineer</h3>
                                    <div class="ml-auto">UK Hydrographic Office</div>
                                </div>
                                <div class="">Sept 2017 - July 2018</div>
                            </div>
                            <div>
                                <p>
                                    For this role I worked on multiple projects for both desktop and web applications as well as working
                                    on the migration of the UKHO customer facing services from our old data centre running VMWare to our
                                    new one on Hyper-V. The desktop and web project technologies focused around:
                                </p>
                                <ul>
                                    <li>C#.NET</li>
                                    <li>ASP.NET MVC</li>
                                    <li>Web API</li>
                                    <li>Automated Testing (Selenium)</li>
                                    <li>Unit Testing</li>
                                </ul>
                                <p>
                                    The majority of the data centre migration work entailed creating deployment pipelines and working
                                    closely with an embedded Operations engineer to integrate the solutions into the new architecture.
                                </p>
                                <p>
                                    The pipelines were created using TFS for build and release orchestration with PowerShell and
                                    PowerShell DSC used to execute the deployment onto VMs. The technologies were around:
                                </p>
                                <ul>
                                    <li>PowerShell/DSC</li>
                                    <li>Active Directory Management</li>
                                    <li>Build/Release through TFS</li>
                                    <li>NVD Security Checking</li>
                                    <li>Forti-ADC Configuration (Load balancing)</li>
                                    <li>Networking</li>
                                    <li>SQL Server</li>
                                </ul>
                                <h4 class="font-weight-bold">Technologies used:</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">C#.NET</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">ASP.NET MVC</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PowerShell/DSC</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Azure DevOps</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Web API</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Selenium</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">SQL Server</span></li>
                                </ul>
                            </div>
                        </article>

                        <article class="position-relative pb-5">
                            <div class="mb-2">
                                <div class="d-flex flex-column flex-md-row">
                                    <h3 class="font-weight-bold mb-1">Software Engineer</h3>
                                    <div class="ml-auto">UK Hydrographic Office</div>
                                </div>
                                <div class="">July 2016 – Sept 2017</div>
                            </div>
                            <div>
                                <p>
                                    For this role I was part of a desktop and mobile apps team.
                                </p>
                                <p>
                                    The projects worked on primarily used the following technologies:
                                </p>
                                <ul>
                                    <li>C#.NET</li>
                                    <li>WPF</li>
                                    <li>Xamarin</li>
                                    <li>PowerShell (Automated Test Deployment)</li>
                                    <li>Automated Testing (CodedUi/Xamarin.UITest)</li>
                                    <li>Unit Testing/TDD</li>
                                </ul>
                                <p>
                                    As part of my work in Xamarin I created a shared automated test library for both Xamarin.Andriod
                                    and Xamarin.IOS. The library was used to reduce the amount of duplicated code.
                                </p>
                                <h4 class="font-weight-bold">Technologies used:</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">C#.NET</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">WPF</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Xamarin</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PowerShell</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">TFS</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">CodedUI</span></li>
                                </ul>
                            </div>
                        </article>

                        <article class="position-relative pb-5">
                            <div class="mb-2">
                                <div class="d-flex flex-column flex-md-row">
                                    <h3 class="font-weight-bold mb-1">Trainee Software Engineer</h3>
                                    <div class="ml-auto">UK Hydrographic Office</div>
                                </div>
                                <div class="">Nov 2015 – July 2016</div>
                            </div>
                            <div>
                                <p>
                                    The UKHO has a fantastic trainee programme that incorporates solo and group working to develop
                                    skills, confidence and good practice.
                                </p>
                                <p>
                                    Whilst a trainee I worked with my mentor and peers to gain a good knowledge of enterprise
                                    software development processes and practices.
                                </p>
                                <p>
                                    There is a focus on learning the best practices and with my mentor I developed my experience of:
                                </p>
                                <ul>
                                    <li>C#, .NET, ASP.NET MVC, WPF, SQL Server – Development Stack</li>
                                    <li>Unit testing, automated tests, selenium – Testing processes</li>
                                    <li>Agile, Scrum – Development approach</li>
                                </ul>
                                <p>
                                    Towards the end of my trainee programme I integrated with an agile development team that was
                                    working with WPF for a desktop application. I gained a good understanding of the business
                                    domain and was able to contribute to the production code.
                                </p>
                                <h4 class="font-weight-bold">Technologies used:</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">C#</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">.NET</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">ASP.NET MVC</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">WPF</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">SQL Server</span></li>
                                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">TFS</span></li>
                                </ul>
                            </div>
                        </article>

                        <article class="position-relative pb-5">
                            <div class="mb-2">
                                <div class="d-flex flex-column flex-md-row">
                                    <h3 class="font-weight-bold mb-1">Workshop Delivery Officer</h3>
                                    <div class="ml-auto">Technocamps</div>
                                </div>
                                <div class="">Oct 2014 – May 2015</div>
                            </div>
                            <div>
                                <p>
                                    This position was held whilst studying at the University of South Wales. For this role I worked
                                    with my peers to deliver lessons to schools in South Wales using Raspberry Pi’s, Python and Microbits.
                                </p>
                            </div>
                        </article>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
