@{
    ViewBag.Title = "Profile";
    Layout = "_Layout";
}

<section class="pt-8 pt-md-11">
<div class="container">

<div class="row justify-content-center">
    <div class="col-12">

        <h1 class="display-4 text-center">
            Fraser Molyneux
        </h1>

        <p class="lead mb-7 text-center text-muted">
            <strong>Fraser Molyneux</strong> is the director of Molyneux Consulting Ltd and is an experienced
            lead software engineer who has worked in both Government and the private sector.
        </p>

    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12">

        <h2 class="text-center">Introduction</h2>

        <p class="lead mb-7 text-center text-muted">
            Multi-qualified and resourceful IT professional with demonstrated track record driving complex project deliverables in line with time and budget constraints to optimise business-critical services. Broad knowledge of PowerShell, DSC and Azure DevOps leveraged to enable smooth deployment of pipelines, while eliminating failures. Excellent team leadership talents with aptitude to establish collaborative relationships and enable positive influence, while minimising disparities among senior management and delivery teams.
        </p>


        <p class="lead mb-7 text-center text-muted">
            <a target="_blank" href="~/docs/CV-2021.pdf">View PDF CV</a>
        </p>

    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12">

        <h2 class="text-center">Technical Proficiencies</h2>

        <p class="lead mb-7 text-center text-muted">
            <ul class="text-muted">
                <li>C#.NET</li>
                <li>ASP.NET MVC</li>
                <li>.NET Core</li>
                <li>Web API</li>
                <li>PowerShell/DSC/Pester</li>
                <li>Git/GitHub/Azure DevOps</li>
                <li>Build & Release through Azure DevOps CI/CD Pipelines</li>
                <li>Azure/AWS</li>
                <li>SQL Server/Entity Framework</li>
                <li>Agile/Scrum</li>
            </ul>
        </p>
    </div>
</div>


<div class="row justify-content-center">
<div class="col-12">

<h2 class="display-4 text-center">
    Experience
</h2>

<div class="text-muted">
<div class="position-relative">

<article class="position-relative pb-5">
    <div class="mb-2">
        <div class="d-flex flex-column flex-md-row">
            <h3 class="font-weight-bold mb-1">PowerShell Engineer (Contract)</h3>
            <div class="ml-auto">Client: Adatis</div>
        </div>
        <div class="">Jan 2021 - May 2021</div>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">PowerShell</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Pester</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">SQL</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Azure Data Factory</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Azure Databricks</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Azure Storage</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Git</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">AzDo Pipelines</span>
        </li>
    </ul>
    <div>
        <p>
            Providing PowerShell expertise to Adatis in the data analytics sector to create a pester framework to test the end-to-end data flows of solutions built on Azure Data Factory, Databricks and Data Lake. Implementation of the testing framework to support on demand and nightly test execution through AzDo for multiple solutions.
        </p>
        <h3>Key Achievements</h3>
        <ul>
            <li>Implemented support for static data sets used for regression test packs alongside dynamic data tests to support the ongoing BAU tasks for monitoring data flow.</li>
            <li>Through the implementation of the test framework and regression test packs enabled the end client to reduce a multiple week UAT regression test period significantly.</li>
            <li>Ensured that the test framework could be used with multiple retail and stock source systems without the need to modify the core framework code.</li>
        </ul>
    </div>
</article>

<hr/>

<article class="position-relative pb-5">
    <div class="mb-2">
        <div class="d-flex flex-column flex-md-row">
            <h3 class="font-weight-bold mb-1">Senior Software Engineer (Contract)</h3>
            <div class="ml-auto">Client: UK Hydrographic Office</div>
        </div>
        <div class="">June 2020 - Dec 2020</div>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">C#.NET</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">NUnit</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">PowerShell/Pester</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Azure</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Git</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Azure DevOps</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Terraform</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Agile/Scrum</span>
        </li>
    </ul>
    <div>
        <p>
            Providing fix/release support for the UK Hydrographic Office’s customer facing services as a senior member of a development team. Using pair programming with developers and testers alike to deliver many bug-fixes and feature enhancements through a continuous delivery process.
        </p>
        <h3>Key Achievements</h3>
        <ul>
            <li>Refactoring of SQL database sanitisation scripts to allow for production databases to be restored and used with confidence within the Engineering environments.</li>
            <li>Delivery of multiple feature enhancements to production that reduce the manual intervention for cases raised to the Customer Services team.</li>
            <li>Key in the successful onboarding of a set of externally developed GIS services and transition of their support into the internal development team.</li>
        </ul>
    </div>
</article>

<hr/>

<article class="position-relative pb-5">
    <div class="mb-2">
        <div class="d-flex flex-column flex-md-row">
            <h3 class="font-weight-bold mb-1">Software Engineering Consultant (Contract)</h3>
            <div class="ml-auto">Client: Leonardo Helicopters</div>
        </div>
        <div class="">Nov 2019 - March 2020</div>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">TeamCity</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">PowerShell</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">SSDT</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Agile/Kanban</span>
        </li>
    </ul>
    <div>
        <p>
            Providing consultancy support to Leonardo Helicopters LSS department in the aerospace/defence sector for implementation of Agile, DevOps, and CI/CD principles to improve development capability. Steering collaborative efforts with a team of developers/testers working on brownfield products to improve processes and working approach.
        </p>
        <p>
            Restructuring of existing delivery pipelines to integrate best practices across release management through utilisation of expertise in CI/CD pipelines.
        </p>
        <h3>Key Achievements</h3>
        <ul>
            <li>Introduced an Agile/Kanban workflow method to improve visibility of constraints/blockers to development and leadership teams, and subsequently executing corrective actions to enable resolution.</li>
            <li>Minimised technical and cultural issues within leadership team by facilitating discussions with managers to propose innovative approaches for effective solutions.</li>
            <li>Standardisation of deployment approaches using TeamCity meta-runners and templates for SSDT projects.</li>
        </ul>
    </div>
</article>

<hr/>

<article class="position-relative pb-5">
    <div class="mb-2">
        <div class="d-flex flex-column flex-md-row">
            <h3 class="font-weight-bold mb-1">Lead Software/Support Engineer (Permanent)</h3>
            <div class="ml-auto">UK Hydrographic Office</div>
        </div>
        <div class="">July 2018 – Nov 2019</div>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">C#.NET</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">ASP.NET MVC</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">PowerShell/DSC/Pester</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">PowerShell Modules</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">SQL Server</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Azure</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Git/GitHub/Azure DevOps</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">ITIL/Incident/Change</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Azure IaaS/PaaS/SaaS</span>
        </li>
    </ul>
    <div>
        <p>
            Provided leadership direction to an Agile (Scrum) development team, consisting of 5 developers and 2 testers to streamline customer facing services and project delivery. Oversaw end-to-end aspects associated with complex migration of customer facing services from VMWare to Hyper-V.
        </p>
        <h3>Key Achievements</h3>
        <ul>
            <li>Succeeded in leading complete rewrites of build and release pipelines, as well as overcoming critical challenges of implementing new technologies, processes, and standards.</li>
            <li>Improved monitoring of Active Directory, file share permissions, and SQL databases/permissions through innovation of PowerShell infrastructure automated tests. </li>
            <li>Accelerated project implementation and eliminated downtime of releases via creation of a new route-to-live pipeline for the ‘eNavigator Fleet Manager’ product</li>
            <li>Delivered the AVCS Online product to production utilising Azure IaaS/PaaS/SaaS to create VMs, networking, app services, storage and Esri ArgGIS services.</li>
        </ul>
    </div>
</article>

<hr/>

<article class="position-relative pb-5">
    <div class="mb-2">
        <div class="d-flex flex-column flex-md-row">
            <h3 class="font-weight-bold mb-1">Senior Software Engineer (Permanent)</h3>
            <div class="ml-auto">UK Hydrographic Office</div>
        </div>
        <div class="">September 2017 – July 2018</div>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">C#.NET</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">WPF</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Xamarin</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">PowerShell (Automated Test Deployment)</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Automated Testing (CodedUi/Xamarin.UITest)</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Unit Testing/TDD</span>
        </li>
        <li class="list-inline-item">
            <span class="badge badge-primary badge-pill">Azure</span>
        </li>
    </ul>
    <div>
        <p>
            Served as a pivotal member of the desktop and mobile apps team. Minimised duplicated code by formulating a shared automated test library for Xamarin.Android and Xamarin.iOS. Ensured maximum quality of written code and development practices by utilising automated and unit testing, leading to improved code base standards.
        </p>
        <h3>Key Achievements</h3>
        <ul>
            <li>Presented an easy-to-understand code through employment of pair programming techniques with other developers to deliver high-quality code.</li>
            <li>Creation of a .NET core middleware module to validate client certificates in a secure manner.</li>
        </ul>
    </div>
</article>

<hr/>

<article class="position-relative pb-5">
    <div class="mb-2">
        <div class="d-flex flex-column flex-md-row">
            <h3 class="font-weight-bold mb-1">Addidional Experience</h3>
        </div>
    </div>
    <div>
        <ul>
            <li><strong>Trainee Software Engineer</strong> at UK Hydrographic Office</li>
            <li><strong>Workshop Delivery Officer</strong> at University of South Wales</li>
        </ul>
    </div>
</article>

<hr/>

</div>
</div>

</div>
</div>

</div>
</section>