@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}

<section class="pt-8 pt-md-11">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12">

                <h1 class="display-4 text-center">
                    Contact
                </h1>

                <p class="lead mb-7 text-center text-muted">
                    You can contact me via email at <a href="mailto:molyneux-consulting-ltd@outlook.com" target="_top">molyneux-consulting-ltd@outlook.com</a>
                    or <a href="https://www.linkedin.com/in/fraser-molyneux/"><img src="~/img/icons/linkedin.png" height="50"/></a>
                </p>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">

                <h1 class="text-center">
                    Availability
                </h1>

                <p class="lead mb-7 text-center text-muted">
                    I am currently <strong>available</strong> for small contracts for consulting or software development pieces e.g. APIs.
                </p>

                <p class="lead mb-7 text-center text-muted">
                    I am <strong>unavailable</strong> for on-site, embedded roles until end of March 2020 as I am currently working with a client.
                </p>
            </div>
        </div>

    </div>
</section>
